body{
    font-family: "Bitstream Charter",sans-serif;
    
}
#geral
{
        font-size: 13px;
	margin: 0 auto;
	width: 900px;
	background: #fff;
}

#topo
{
	height: 123px;
	background-image: url('/img/banner.png');
}

#menu
{
	float: left;
	width: 900px;
	background: #8B8386;
	min-height: 45px;
}

#menu ul
{
	margin: 0;
	padding: 0;
}

#menu ul li
{
	list-style-type: none;
	display: inline;
}

#menu li a
{
	display: block;
	float: left;
	margin: 10px 0;
	padding: 5px 10px;
	font-size: 15px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#menu li a:hover { background: #4F4F4F; }

#login
{
	float: right;
	margin: 5px 0;
	color: #fff;
}

#login #sair { margin: 0 5px 0; }

#login .login {	width: 10em; }

#login a
{
	color: #fff;
	text-decoration: none;
}

#login a:hover { background: #4F4F4F; }

#conteudo-geral
{
	float: left;
	width: 900px;
	background: #f8f8ff;	
}

#conteudo
{	
	min-height: 350px;
	clear: right;
	float: right;
	width: 670px;
	padding: 0px 10px 0 0;
	margin: 0;
	display: inline;
	text-align: justify;
}
#titulos{
    width: 350px;
    height: auto;
}
#titulos h3{
    color: gray;
    margin: -35px;
    float: right;
}
#conteudo ul{
	list-style-type: none;
}

#conteudo h2 { 
	margin-top: 0; 
	padding: 0;
}



#menu-lateral
{
	float: left;
	width: 190px;
	margin: 0px;
}

#menu-lateral ul {
	margin: 15px 0; 
	padding-left: 8px;
}

#menu-lateral li {
        background: #8B8386;
	margin: 0; 
	padding: 0;
	border-bottom: 1px solid #CCC;
	text-align: left;
	list-style-type: none;
}

#menu-lateral ul li ul li a{
    background: black;
    
}
#Social li{
    background: #9C9698;
}
#Dsbq li{
    background: #9C9698;
}
#menu-lateral a{
	color: #fff;
	text-decoration: none;
	padding: 8px;
	margin: 0;
	display: block;
}

#menu-lateral a:hover { background: #4F4F4F; }



#rodape
{
    clear: both;
    background: #f8f8ff;
    text-align: left;
    height: 70px;

}

#parceiros{
    margin: 0 0;
    width: 800px;
    height: 100px;

}
#parceiros ul{
    list-style: none;

}
#parceiros ul li{
    display: inline;
    padding-left: 80px; 
}

#icons {
    margin: 0;
    padding: 0;
}
#icons li {
    margin: 2px;
    position: relative;
    padding: 4px 0;
    cursor: pointer;
    float: left;
    list-style: none;
}
#icons span.ui-icon {
    float: left;
    margin: 0 4px;
}

#botao-ancora, input[type=submit]{
    font-size: 12px;
    margin-bottom: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 95%;
}

tr th{
    background-color: #8b8386;
    color: white;
}

th, td {
  padding: 0.25em;
  text-align: left;
  border: 1px solid #ccc;
}

tbody tr:nth-child(odd) {
  background: #eee;
}

.td-botao {
    width: 3px;
    height: 3px;
    padding: 0;
    border: 0px;
    background: #f8f8ff;
}

#esquerda_base{
    float: left;
    padding: 0;
    width: 400px;
    height: auto;
}

#esquerda{
    float: left;
    padding: 0;
    width: 330px;
    height: auto;
}

#direita{
    float: right;
    padding: 0;
    width: 310px;
    height: auto;
}
#esquerda-entrevista{
    float: left;
    padding: 0;
    width: 660px;
    height: auto;
}

#direita-entrevista{
    float: right;
    margin-left: 30px;
    width: 330px;
    height: auto;
    margin-top: -65px;
}

#Submit{
    width: 200px;
    float: right;
    padding-top: 30px;
    float: left;
}

#Submit input{
    height: 25px;
}


#tam_medio{
    width: 120px;
    
}
select{
    width: 168px;
    height: 25px;
    background: white;
    float: right;
}
#form-dir{
    padding: 8px;
    padding-left: 0px;
}
#form-esq{
    padding: 8px;
    padding-left: 0px;
}
input {
    float: right;
    height: 22px;
    border-radius: 3px;
}
tr td input{
	float: right;
}	

label {	
    text-align: left;
    width: 125px;
    padding-right: 10px;
    padding-bottom: 10px;
}

fieldset {
    border: none;
}

br {
    clear: left;
}

fieldset.noEditable {
  padding: 1em;
  /*font:80%/1 sans-serif;*/
border: 2px #af3333 solid;
  border-radius: 10px;
  }
  
fieldset.noEditable label {	
    text-align: inherit;
    width: 125px;
    padding-right: 10px;
    padding-bottom: 10px;
}

 fieldset.noEditable input[type="text"] {
  /*width: 100%;*/
  /*height: 30px;*/
  /*line-height: 30px;*/
  /*border: none;*/
  background-color: transparent;
  border-radius: 0;
}

fieldset.noEditable base{
    float: left;
    padding: 0;
    width: 100%;
    height: auto;
}
input.button-edit {
    background-image: url('/img/trash.png');  //16px x 16px 
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 0px 0px;  /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height: 16px;           /* make this the size of your image */
    padding-left: 16px;     /* make text start to the right of the image */
    vertical-align: middle; /* align the text vertically centered */
}

input.button-del {
   background-image: url(/img/delete_red.png); 
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 0px 0px;  /* equivalent to 'top left' */
    border: none;            /*assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height: 16px;           /* make this the size of your image */
    padding-left: 16px;     /* make text start to the right of the image */
    vertical-align: middle; /* align the text vertically centered */
}

